# ค่าสำหรับ Postgres Container (ใช้ชื่อเดิมตามมาตรฐาน Docker Image)
POSTGRES_DB=labdb
POSTGRES_USER=user
POSTGRES_PASSWORD=password

# ค่าสำหรับ Task Service (แก้ชื่อให้ตรงกับที่ db.js เรียกใช้)
DB_HOST=db
DB_NAME=labdb
DB_USER=user
DB_PASSWORD=password

# JWT (ต้องมีเพื่อให้ authMiddleware และ jwtUtils ทำงานได้)
JWT_SECRET=engse207-shared-jwt-secret-set2
JWT_EXPIRES=1h